#conversejs {
    .dark-background-full {
        display: block; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10000; /* Sit on top */
        left: 0;
        top: 0;
        width: 100vw; /* Full width */
        height: 100%; /* Full height */
        /*overflow: auto;*/ /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .loading-screen {
        background-color: #fefefe;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
        height: 100px;
        display: table;
    }

    .loading-screen-text {
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

    .download-table {
        background-color: #fefefe;
        margin: 5% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        height: 83%;
        text-align: center;
    }

    .download-checkbox-column {
        max-width: 5px;
        word-wrap: break-word;
    }

    .download-timestamp-column {
        max-width: 30px;
        word-wrap: break-word;
    }

    .download-author-column {
        max-width: 60px;
        word-wrap: break-word;
    }

    .download-link-column {
        max-width: 125px;
        word-wrap: break-word;
    }

    .chat-image {
        max-width: 90%;
        max-height: 90%;
    }

    .download-filename-column {
        max-width: 80px;
    }

    .download-table-head th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #4CAF50;
        color: white;
        word-wrap: break-word;
        max-width: 150px;
        text-align: center;
    }

    .download-table-body {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .download-table-body td,
    .download-table-body th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .download-table-body tr:nth-child(even){background-color: #f2f2f2;}

    .download-table-body tr:hover {background-color: #ddd;}

    .download-files-button {
        padding-top: 6px;
        padding-bottom: 12px;
        background-color: #4CAF50;
        color: white;
        word-wrap: break-word;
        text-align: center;
        width: 100%;
        height: 30px;
        margin-top: 10px;
    }

    .download-attachements-header {
        font-size: 130%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .download-file-input {
        width: 80%;
        float: left;
    }

    .zipfile-name-input {
        margin-top: 10px;
        width: 96%;
        margin-bottom: 10px;
    }

    .scrollbar-div {
        height: 84%;
    }

    .attachements-content {
        margin-top: 5px;
        border-top: thin solid black;
        border-bottom: thin solid black;
        padding-bottom: 7px;
        overflow-y: scroll;
        height: 83%;
        overflow-x: hidden;
    }

    .attachement-download-error-msg {
        color: red;
        text-align: center;
        background-color: lightpink;
        padding: 5px;
        margin-top: 5px;
    }

    .attachement-header {
        height: 12%;
    }

    .close-thik {
        color: #777;
        font: 14px/100% arial, sans-serif;
        float: right;
        right: 5px;
        text-decoration: none;
        text-shadow: 0 1px 0 #fff;
        top: 5px;
    }
    .close-thik:after {
        content: '✖'; /* UTF-8 symbol */
    }
}
